<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>Hello World</string>
			<key>body</key>
			<string>A &quot;Hello world&quot; program is a computer program that outputs &quot;Hello, World!&quot; (or some variant thereof) on a display device. Because it is typically one of the simplest programs possible in most programming languages, it is by tradition often used to illustrate to beginners the most basic syntax of a programming language. It is also used to verify that a language or system is operating correctly.</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>ITCC</string>
			<key>body</key>
			<string>The 1996 International Touring Car Championship season was the second season of its type. It was for FIA Class 1 Touring Cars and it was contested by Mercedes-Benz, Alfa Romeo and Opel. It was formed of the Deutsche Tourenwagen Meisterschaft series that ran both a short German &amp; International-based series in 1995. These were fused together to form the International Touring Car Championship (abbreviated to ITC). The eventual champion was Manuel Reuter driving an Opel Calibra, and Opel won the manufacturer&apos;s championship.</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>Hello World</string>
			<key>body</key>
			<string>A &quot;Hello world&quot; program is a computer program that outputs &quot;Hello, World!&quot; (or some variant thereof) on a display device. Because it is typically one of the simplest programs possible in most programming languages, it is by tradition often used to illustrate to beginners the most basic syntax of a programming language. It is also used to verify that a language or system is operating correctly.</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>Schloss Lichtenstein</string>
			<key>body</key>
			<string>Schloss Lichtenstein, auch als „Märchenschloss Württembergs“ bezeichnet, ist ein im Stil des Historismus erbautes Schloss des 19. Jahrhunderts über dem Ort Honau, Gemeinde Lichtenstein, im Landkreis Reutlingen in Baden-Württemberg.</string>
			<key>image</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>Landesfürst</string>
			<key>body</key>
			<string>Der Landesfürst ist das Staatsoberhaupt des Fürstentums Liechtenstein. Er ist als Staatsoberhaupt neben dem Landesvolk einer der beiden Träger der liechtensteinischen Souveränität und zugleich als Regent mit weitreichenden Regierungsbefugnissen ausgestattet, die er aber in der Regel grösstenteils an die Regierung delegiert. Der Landesfürst führt den offiziellen Titel Fürst von und zu Liechtenstein, Herzog von Troppau und Jägerndorf, Graf zu Rietberg, Regierer des Hauses von und zu Liechtenstein.[1]

Da Liechtenstein gemäss seiner Verfassung eine konstitutionelle Erbmonarchie auf demokratischer und parlamentarischer Grundlage ist, ist das Amt des Landesfürsten erblich und wurde bis dato stets von einem männlichen Mitglied des Hauses Liechtenstein bekleidet.[2] Seit dem Jahr 1989 ist Hans-Adam II. von und zu Liechtenstein aktueller Landesfürst des Fürstentums Liechtenstein. Die Staatsgeschäfte nimmt allerdings seit August 2004 dessen Sohn, Erbprinz Alois von und zu Liechtenstein, als Prinzregent wahr.</string>
			<key>image</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>choices</key>
			<array>
				<string>choice 2</string>
				<string>choice 1</string>
			</array>
			<key>image</key>
			<string>First Image</string>
			<key>question</key>
			<string>Multiple Choice Frage</string>
			<key>solutionIndex</key>
			<integer>0</integer>
		</dict>
	</array>
</array>
</plist>
